# Postgres
DATABASE_URL=postgres://membridge:password@postgres:5432/membridge
POSTGRES_USER=membridge
POSTGRES_PASSWORD=password
POSTGRES_DB=membridge

# GitHub OAuth
GH_CLIENT_ID=
GH_CLIENT_SECRET=

# App
BASE_URL=https://yourdomain.com
PORT=3000
NODE_ENV=production
REGISTRATION_TOKEN=
